input[type=radio]#msm1, input[type=radio]#msm2 {
  display: none; }

input[type=radio]#msm2 ~ label, input[type=radio]#msm1 ~ label {
  display: block;
  background: #fff;
  width: auto;
  padding: .3em;
  color: #000;
  float: left; }

input[type=radio]:checked#msm2 ~ label, input[type=radio]:checked#msm1 ~ label {
  background: #000;
  color: #fff; }
